<%- include("includes/head.ejs", {title: "Not Authenticated"}) %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <h1>You're not authenticated!</h1>
        <p>
            This page only shows who are authenticated!
        </p>
    </main>
</body>
</html>