<%- include("includes/head.ejs", {title: "404 ERROR"}) %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <h1>Something Went Wrong!</h1>
        <p>
            Something went wrong in this time - Please try again letter!
        </p>
    </main>
</body>
</html>