<%- include("includes/head.ejs", {title: "ERROR"}) %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <h1>Something went wrong in this site!</h1>
        <p>
            We will try my best for resolve this issue - Please try again later!
        </p>
    </main>
</body>
</html>